@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 /* font-family: 'Anton', sans-serif;*/

* {
    padding: 0; 
    margin: 0;
}

Body {
    max-width: 600px;
    margin: auto;
}

form {
    margin: 10px;
}

fieldset {
    border: 2px solid black;
    font-family: 'Anton', sans-serif;
    padding-left: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: none;
    border-bottom: 1px solid black;
}